{% extends 'base.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <ul>
            <li><a href="{{ path('crud_category_index') }}">Category</a></li>
            <li><a href="{{ path('crud_media_index') }}">Media</a></li>
            <li><a href="{{ path('crud_product_index') }}">Product</a></li>
        </ul>
    </div>
{% endblock %}
