<footer class="bg-dark py-3 mt-5">
    <div class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p class="mb-0" style="word-spacing: 5px"><span
                    style="word-spacing: initial">Copyright &copy; 2022 Book Store</span> · <a href="#">Privacy</a> · <a
                    href="#">Terms</a></p>
    </div>
</footer>
