{% extends 'base.html.twig' %}

{% block title %}Your Shopping List{% endblock %}

{% block javascripts %}
    <script defer src="{{ asset('js/shoppingList.js') }}"></script>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="card" id="myList">
        <div class="card-header">
            <h1>Your Shopping List</h1>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer">
            <a onclick="pasfait()" class="btn btn-primary">Commander</a>
        </div>
    </div>
{% endblock %}
